<div class="container__big-card">
  <div class="big-card__image">
    <img
      src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.fLz_nyWcsH8YBnUzKD8eCAHaFl%26pid%3DApi&f=1&ipt=d6d33dc48279dda12c7bb83eb57b584838e6c31f268cd8584d87168734713f86&ipo=images"
      alt="template image"
    />
  </div>
  <div class="big-card__title">
    <h1><a href="#"> Template title </a></h1>
  </div>
  <div class="big-card__description">
    <p>
      <a href="">
        Template description Lorem sectetu Molestias error cor Lorem ipsum dolor
        sit amet consectetur adipisicing elit. Voluptas expedita aliquid
        repellat, nulla, eligendi, hic laborum unde velit inventore praesentium
        reiciendis nam nesciunt quae error tenetur itaque excepturi. Non, vero?
      </a>
    </p>
  </div>
</div>
