<div class="container__big-card">
  <div class="big-card__image">
    <img src="{{ imageCover }}" alt="template image" />
  </div>
  <div class="big-card__title">
    <h1>
      <a href="#"> {{ cardTitle }} </a>
    </h1>
  </div>
  <div class="big-card__description">
    <p>
      <a href="">
        Template description Lorem sectetu Molestias error cor Lorem ipsum dolor
        sit amet consectetur adipisicing elit. Voluptas expedita aliquid
        repellat, nulla, eligendi, hic laborum unde velit inventore praesentium
        reiciendis nam nesciunt quae error tenetur itaque excepturi. Non, vero?
      </a>
    </p>
  </div>
</div>
