<div class="container__small-card">
  <div class="container__small-card-content">
    <div class="small-card__image">
      <img
        src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.fLz_nyWcsH8YBnUzKD8eCAHaFl%26pid%3DApi&f=1&ipt=d6d33dc48279dda12c7bb83eb57b584838e6c31f268cd8584d87168734713f86&ipo=images"
        alt="template image"
      />
    </div>
    <div class="small-card__title">
      <h1><a href="#"> Template title </a></h1>
    </div>
  </div>

  <div class="container__small-card__separator">
    <hr />
  </div>
</div>
