<header>
  <app-menu-bar></app-menu-bar>
</header>
<app-menu-title></app-menu-title>
<div class="container__articles">
  <div class="articles__main">
    <app-big-card
      imageCover="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.fLz_nyWcsH8YBnUzKD8eCAHaFl%26pid%3DApi&f=1&ipt=d6d33dc48279dda12c7bb83eb57b584838e6c31f268cd8584d87168734713f86&ipo=images"
      cardTitle="TEMPLATE TITLE"
      cardDescription="Template string lorem ipsum HJIFHJ hsifhi dhaeihifHI HO9FI hdhd fhfds fdhufdh HUFH DHU HDU FHD uhu hfd fds uh SFFPDSDFIOFHWFa h"
    ></app-big-card>
  </div>
  <div class="articles__others">
    <app-small-card
      imageCover="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.fLz_nyWcsH8YBnUzKD8eCAHaFl%26pid%3DApi&f=1&ipt=d6d33dc48279dda12c7bb83eb57b584838e6c31f268cd8584d87168734713f86&ipo=images"
      cardTitle="Template title"
    ></app-small-card>
    <app-small-card
      imageCover="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.fLz_nyWcsH8YBnUzKD8eCAHaFl%26pid%3DApi&f=1&ipt=d6d33dc48279dda12c7bb83eb57b584838e6c31f268cd8584d87168734713f86&ipo=images"
      cardTitle="Template title"
    ></app-small-card>
    <app-small-card
      imageCover="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.fLz_nyWcsH8YBnUzKD8eCAHaFl%26pid%3DApi&f=1&ipt=d6d33dc48279dda12c7bb83eb57b584838e6c31f268cd8584d87168734713f86&ipo=images"
      cardTitle="Template title"
    ></app-small-card>
  </div>
</div>
